.footer {
  padding: 0;
  text-align: right;
}

.footerInner {
  display: inline-block;
  padding: 0.5rem;
  text-align: right;
  border: 1px dotted #fff;
}

.footerCentre {
  display: inline-block;
  left: 150%;
  transform: translateX(-150%);
  padding: 0;
  text-align: center;
}

.footerInner p {
  margin: 0;
}
